{{- if .Values.bitstreamDownloadJob.enabled }}
{{- $labels := coalesce .Values.global.labels .Values.labels "label:none" }}
{{- $annotations := coalesce .Values.global.annotations .Values.annotations }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fhs-vcc-bitstream-pv
  namespace: {{ .Release.Namespace }}
  labels:
{{ toYaml $labels | indent 4 }}
{{- if $annotations }}
  annotations:
{{ toYaml $annotations | indent 4 }}
{{- end }}
spec:
  storageClassName: {{ .Values.pvStorageClass }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "1Gi"
{{- end }}
