{{- define "ska-mid-cbf-fhs-vcc.deviceservers.yaml" -}}
{{ $localchart := . }}

{{- $vccUnits := coalesce .VCCUnits $.Values.VCCUnits }}

{{- range $unitIndex, $fhsVccUnit := $vccUnits }}

  {{- if ge (int $unitIndex) (int $.Values.numVccUnits) }}
    {{- break }}
  {{- end }}

  {{- $seqObj := fromJson (include "generateInstanceSequence" $fhsVccUnit.instancesRange | trim) -}}

  {{- range $instanceIndex, $instance := $seqObj.sequence }}
    {{- $vccNum := add $instanceIndex 1 }}

    {{- $deviceCommand := $.Values.deviceCommand }}
    {{- $vccAllBandsDeviceValues := $.Values.vccAllBandsDevice }}
    {{- $deviceValues := append $.Values.devices $vccAllBandsDeviceValues }}

    {{- if $.Values.standaloneSimulator }}
      {{- $deviceCommand = $.Values.simDeviceCommand }}
      {{- $simVccDeviceValues := set $vccAllBandsDeviceValues "name" $deviceCommand }}
      {{- $deviceValues = list $simVccDeviceValues }}
    {{- end }}

    {{- $serverInstances := include "generateServerInstances" (list $instance $fhsVccUnit $deviceValues $.Values.properties $vccNum) | nindent 2 }}
    {{- $fileDeviceServerContext := dict "fhsVccUnit" $fhsVccUnit "instance" $instance "serverInstances" $serverInstances "deviceCommand" $deviceCommand "pvEnabled" $.Values.bitstreamDownloadJob.enabled }}
    {{- $fileDeviceServer := include "ska-mid-cbf-fhs-vcc.fhsVccStack" (merge $fileDeviceServerContext $) | fromYaml }}

    {{- if $fileDeviceServer.tolerations }}
      {{- $_ := set $.Values "tolerations" $fileDeviceServer.tolerations }}
    {{- end }}

    {{- if $fileDeviceServer.affinity }}
      {{- $_ := set $.Values "affinity" $fileDeviceServer.affinity }}
    {{- end }}

    {{- $context := dict "name" (printf "fhs-vcc-unit-%d-%d" (int $fhsVccUnit.unitNum) (int $vccNum)) "deviceserver" $fileDeviceServer "image" $fileDeviceServer.image "local" $localchart }}
    {{- template "ska-tango-util.multidevice-config.tpl" $context }}
    {{- template "ska-tango-util.multidevice-sacc-role.tpl" $context }}
    {{- template "ska-tango-util.multidevice-job.tpl" $context }}
    {{- template "ska-tango-util.multidevice-svc.tpl" $context }}

  {{- end }}

{{- end }} 
{{- end -}}